
.box {
  border-style: solid;
  border-color: black;
  border-width: 4px;
  text-align: center;
}

.yellow-box {
  background-color: #fcbc66;
  padding: 100px;

}

.red-box {
  background-color: #8dc6bf;
  color: black;
  padding: 50px;
  margin: 20px 200px 20px 200px;
  font-size:16px;

}

.blue-box {
  background-color: #f97b4f;
  color: black;
  padding: 50px;
  margin: 20px 200px 20px 200px;
}

html {
  font-size: 16px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
}
h1 {
  font-size: 36px;
  text-align: center;
}

p, li {
  font-size: 13px;
  line-height: 2;
}

.pic{
	width: 400px;


}
