

html {
    scroll-behavior: smooth;
}

.menu-item{
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}

.menu-item:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: grey;
    transition: width 0.1s ease 0s, left 0.5s ease 0s;
    width: 0;
}
.menu-item:hover:after {
    width: 100%;
    left: 0;
}

.bgimg-1{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/vw.jpg');
    min-height: 580px;
}

#backtop{
    animation-name:backshake;
    height: auto;
    width:30px;
    position:fixed;
    bottom:5%;
    right:1%;
    animation-duration: 2s;
    animation-iteration-count:infinite;
    z-index: 3;
}

@keyframes backshake {
    0% { transform: translate(0px, 0px) rotate(0deg); }
    20% { transform: translate(0px, 5px) rotate(0deg); }
    40% { transform: translate(0px, 0px) rotate(0deg); }
    60% { transform: translate(0px, -2px) rotate(0deg); }
    80% { transform: translate(0px, 1px) rotate(0deg); }
    100% { transform: translate(0px, 0px) rotate(0deg); }
}



@media only screen and (max-device-width: 1300px) {
    .content {
        width:85%;
    }
}
@media only screen and (max-device-width: 800px) {
    .bgimg-1{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('../images/mobile-cover.png');
        min-height: 580px;
    }



}