
.boxa {
  border-style: solid;
  border-color: black;
  border-width: 4px;
  text-align: justify;

}

.boxb {
  border-style: solid;
  border-color: black;
  border-width: 4px;
  text-align: center;


}

.horizontal-box{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
}

.yellow-box {

background-color: #f9b86f;
  max-width: 100%;
  height: auto;
  text-align: center;
}

.red-box {
  background-color: #a8dee0;
  color: black;
  padding: 5vw;

  margin-left: 10%;

  font-size:16px;
  text-align: center;
  width: 30vw;
  /*float: left;*/
  max-width: 100%;
  height: auto;
}

.blue-box {
  background-color: #a7d676;
  color: black;
  padding: 5vw;

  text-align: center;
  width: 30vw;

  margin-left: 10%;
  max-width: 100%;
  height: auto;
}

html {
  font-size: 16px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: 'Work Sans', sans-serif;/* this should be the rest of the output you got from Google fonts */
}
h1 {
  font-size: 5em;
  text-align: center;
  font-family: 'Reenie Beanie', cursive;
  font-weight: lighter;
}
h3{
  font-family: 'Cabin Sketch', cursive;
  font-weight: lighter;
  font-size: 1.8em;

}
p, li {
  font-size: 0.9em;
  line-height: 1.5;
}

.pic{
	width: 400px;
}

footer{
  display: flex;
  flex-direction:row;
  position: relative;
  bottom: 10px;

}

iframe{
  width: 59%;
  height: 8.8%;
  frameborder: 0;
}
a {
  color: #000;
  text-decoration: transparent;

}


a:hover {
  color: #006400;
  text-decoration: underline;

}

